<div class='docs-sidebar-left' data-js-docs-sidebar-left>
  <div class="docs-sidebar-left-header">Section 1</div>
  {{postsList
  className="docs-articles-list"
  noTags=true
  noExcerpt=true
  noDate=true
  noReadMoreButton=true
  byTagName='demo 1'
  }}
  <div class="docs-sidebar-left-header">Section 2</div>
  {{postsList
  className="docs-articles-list"
  noTags=true
  noExcerpt=true
  noDate=true
  noReadMoreButton=true
  byTagName='demo 2'
  }}
</div>
<div class="docs-sidebar-left-menu-icon" data-js-docs-sidebar-left-menu-icon>
  <i class="gg-details-more"></i>
</div>
