{{> head
title="Docs"
description="Blogs, landing pages, portfolios, documentation sites - start with ready-to-use templates"
ogTitle="Harold Docs - Static site generator"
ogDescription="Blogs, landing pages, portfolios, documentation sites - start with ready-to-use templates"
ogUrl="https://www.haroldjs.com/docs"
twitterTitle="Harold Docs - Static site generator"
twitterDescription="Blogs, landing pages, portfolios, documentation sites - start with ready-to-use templates"
twitterUrl="https://www.haroldjs.com/docs"
fullWidth=true
}}

<div class="container-full-width docs-layout" data-js-doc-content>
  {{> docs-sidebar-left}}
  <section class="docs-content docs-home">
    <h1>Harold Docs Template example of a custom page</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper accumsan molestie. Nunc purus purus,
      tristique sit amet quam non, facilisis commodo massa. Vivamus ut orci et ante tristique porttitor nec efficitur
      orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut elementum
      elementum suscipit. Nunc eu aliquam sapien. Mauris a justo volutpat, porta lorem non, sodales metus. Vestibulum
      dui arcu, semper id nulla eget, tincidunt tempus mi. Aliquam gravida est at elit dictum efficitur. Aliquam ac quam
      sit amet felis mattis ornare. Donec eget nulla justo. Donec fermentum vel quam nec fermentum. Phasellus mollis
      porttitor quam, non dignissim massa auctor quis. Donec facilisis vulputate lectus et lacinia.
    </p>
    <p>
      Vestibulum euismod dignissim nisi ac mattis. Sed accumsan aliquet ex sit amet elementum. Maecenas vel est sed nisl
      imperdiet semper. Sed porta sodales laoreet. Mauris ut elit vel leo dignissim ullamcorper at scelerisque nisi.
      Maecenas sodales pretium libero, sed gravida magna eleifend ac. Nulla in odio ligula.
    </p>
    <p>
      Mauris auctor nisl a justo scelerisque, non placerat ipsum consequat. Maecenas aliquam elit aliquam nisl
      sollicitudin, vitae vestibulum tortor mollis. Morbi at urna felis. Donec mi nisl, congue sed semper non, porttitor
      mollis enim. Etiam consectetur, magna eget venenatis laoreet, risus ante ultrices sem, a sodales dui mauris et
      nisi. Nulla sollicitudin porta quam molestie varius. Donec eget velit eget quam efficitur iaculis. Maecenas ut ex
      sed sem imperdiet pharetra pellentesque vitae ligula. Donec et cursus augue. Vestibulum dictum ante at elit
      dignissim euismod. Duis ultrices eros lectus, in cursus arcu vestibulum sed. Sed ex enim, eleifend semper dolor
      ut, sagittis venenatis massa. Mauris vitae justo commodo, ultrices nulla et, eleifend velit. Maecenas sit amet
      magna eget quam maximus euismod.
    </p>
  </section>
</div>

{{> footer docs=true}}