{{> head
title="Blogs, portfolios, documentation sites"
description="Blogs, landing pages, portfolios, documentation sites - start with ready-to-use templates"
ogTitle="Harold - Static site generator"
ogDescription="Blogs, landing pages, portfolios, documentation sites - start with ready-to-use templates"
ogUrl="https://www.haroldjs.com"
twitterTitle="Harold - Static site generator"
twitterDescription="Blogs, landing pages, portfolios, documentation sites - start with ready-to-use templates"
twitterUrl="https://www.haroldjs.com"
}}

<div class="container">
  <div class="homepage-lead">
    <h1>Harold Docs Template<span class="homepage-lead-accent">!</span></h1>
    <div class="homepage-lead-subtitle">
      With Harold, it is much simpler and quicker to create your static sites!
    </div>
    <div class="homepage-lead-subtitle">
      Check out real implementation: <a href="https://www.haroldjs.com">www.haroldjs.com</a>
    </div>
    <div class="homepage-lead-image">
      <img src="{{relativePath 'assets/images/harold-start.png'}}" alt="Harold start image" />
    </div>
    <div class="homepage-docs-button-section">
      <a href="{{relativePath 'docs/demo.html'}}">Documentation</a>
    </div>
  </div>
</div>

{{> footer}}
